.grid {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
.col {
  min-height: 50px;
  border: 2px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
}